<ul>
  {{#each model.users as |user|}}
    <li>
      {{user.name}}
      {{#each model.pointTypes as |pointType|}}
        {{point-button user=user pointType=pointType addPoint="addPoint"}}
      {{/each}}
    </li>
  {{/each}}
</ul>
{{outlet}}
